body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  max-width: 316px;
  position: relative;
}

.container:after {
  content: '';
  background-color: #e0e2e4;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 45px
}

.content {
  padding: 18px 23px 20px 29px;
}

.heading h1 {
  color: #3a3b3c;
  font-weight: 600;
  font-size: 16px;
}

.invest-sum {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.invest-sum h3 {
  font-size: 13px;
  font-weight: 600;
  color: #232426;
}

.invest-sum-div {
  margin-left: auto;
  position: relative;
}

.invest-sum-input {
  width: 128px;
  height: 26px;
  border: 1px solid#c0c2c4;
  border-radius: 3px;
  text-align: right;
}

.invest-sum-div:before {
  content: '$';
  position: absolute;
  color: #c0c2c4;
  top: 7px;
  left: 7px;
}

.multiply {
  display: flex;
  align-items: center;
  margin-top: 8px;
  position: relative;
}

.multiply h3 {
  font-size: 13px;
  font-weight: 600;
  color: #232426;
}

.multiply-div {
  width: 128px;
  margin-left: auto;
  position: relative;
}

.multiply-div:before {
  content: url('../assets/cross.png');
  position: absolute;
  color: #c0c2c4;
  top: 5px;
  left: 7px;
}

.multiply-input {
  margin-left: -2px;
  width: 50px;
  height: 26px;
  margin-right: auto;
  border: 1px solid#c0c2c4;
  border-radius: 3px;
  text-align: right;
}

.actual-sum {
  color: #909294;
  font-size: 13px;
}

.dropdown-text {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.dropdown-text label {
  cursor: pointer;
}

.lil-arrow-checkbox {
  display: none;
}

.lil-arrow {
  transform: rotateZ(-90deg);
}

.dropdown-text span {
  color: #909294;
  margin-left: 6px;
}

.hidden {
  display: none;
}

.padding {
  margin-top: 104px;
}

.limitations {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.limitations h3 {
  font-size: 13px;
  font-weight: 600;
  color: #232426;
}

.percent {
  margin-left: 37px;
}

.dollar {
  margin-left: 10px;
}

.percent-label, .dollar-label {
  /*margin-bottom: -4px;*/
  font-size: 13px;
}

.profit {
  margin-top: 10px;
}

.profit-div, .lesion-div {
  margin-left: auto;
  position: relative;
}

.profit-div.two:before {
  content: '$';
  position: absolute;
  color: #c0c2c4;
  top: 7px;
  left: 7px;
}

.profit-div.one:before {
  content: '%';
  position: absolute;
  color: #c0c2c4;
  top: 7px;
  left: 5px;
}

.lesion-div:before {
  content: '$';
  position: absolute;
  color: #c0c2c4;
  top: 15px;
  left: 7px;
}

.lesion-div.one:before {
  content: '%';
  position: absolute;
  color: #c0c2c4;
  top: 15px;
  left: 7px;
}

.lesion-div.two:before {
  content: '$';
  position: absolute;
  color: #c0c2c4;
  top: 15px;
  left: 7px;
}

.profit, .lesion {
  display: flex;
  align-items: center;
}

.profit h4, .lesion h4 {
  font-size: 13px;
  font-weight: 600;
  color: #232426;
}

.profit-input, .lesion-input {
  width: 128px;
  height: 26px;
  border: 1px solid#c0c2c4;
  border-radius: 3px;
  text-align: right;
}

.lesion-input {
  margin-top: 8px;
}

.buttons {
  margin-top: 135px;
  display: flex;
  align-items: center;
}

.buttons button {
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.reduction {
   background: #f26666;
   display: flex;
   padding: 0;
   align-items: center;
   border-radius: 5px;
   border: 1px solid#f26666;
   position: relative;
   margin-left: 30px;
 }

.decline-text {
  border: 1px solid#f26666;
  border-radius: 5px;
  background: #f26666;
  /*background: #000000;*/
  padding: 15px 11px 15px 11px;
  z-index: 4;
}

.decline-arrow {
  background: #e95f5f;
  position: absolute;
  left: -30px;
  padding: 17px 42px 17px 11px;
  border-radius: 5px;
}

.growth {
  background: #53a642;
  display: flex;
  padding: 0;
  align-items: center;
  border-radius: 5px;
  border: 1px solid#53a642;
  position: relative;
  margin-left: auto;
}

.grow-text {
  border: 1px solid#53a642;
  border-radius: 5px;
  background: #53a642;
  /*background: #000000;*/
  padding: 15px 27px 15px 27px;
  z-index: 4;
}

.grow-arrow {
  background: #499c38;
  position: absolute;
  left: -30px;
  padding: 17px 42px 17px 11px;
  border-radius: 5px;
}

.arrow-animation {
  transform: rotateZ(0deg);
}

.red-border {
  border: 1px solid#e64545;
}

.no-valid-bg {
  background: #e64545;
  position: absolute;
  bottom: 35px;
  border-radius: 4px;
  z-index: 4;
}

.no-valid-bg:before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -8px;
  border: 4px solid transparent;
  border-top: 4px solid #e64545;
}

.no-valid-bg h5 {
  color: white;
  font-size: 11px;
  font-weight: 500;
  padding: 8px 13px 8px 8px;
}

.no-valid-multiply-bg {
  background: #e64545;
  position: absolute;
  bottom: 35px;
  border-radius: 4px;
  z-index: 4;
  width: 130px;
  left: -2px;
}

.no-valid-multiply-bg:before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -8px;
  border: 4px solid transparent;
  border-top: 4px solid #e64545;
}

.no-valid-multiply-bg h5 {
  color: white;
  font-size: 10px;
  font-weight: 500;
  padding: 5px 10px 5px 5px;
}

.range-div {
  position: absolute;
  top: 37px;
  /*padding: 10px;*/
  background: #3a3b3c;
  width: 92%;
  padding: 10px;
  border-radius: 3px;
  z-index: 4;
}

.range-div:before {
  border: 8px solid transparent;
  border-bottom: 6px solid#3a3b3c ;
  content: '';
  position: absolute;
  left: 159px;
  bottom: 56px;
}

.range-container span {
  font-size: 11px;
  color: #909294;
  font-weight: 500;
  position: relative;
  margin-left: 7px;
  top: 5px;
}

.range-container span:nth-child(3) {
  margin-left: 14px;
}

.range-container span:nth-child(4) {
  margin-left: 72px;
}

.range-container span:nth-child(5) {
  margin-left: 99px;
}

input[type="range"] {
  /*margin: auto;*/
  -webkit-appearance: none;
  /*overflow: hidden;*/
  height: 4px;
  width: 100%;
  /*cursor: pointer;*/
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #909294;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  /*-webkit-appearance: none;*/
  /*width: 18px; */
  /*height: 18px;*/
  /*background: #fff;*/
  /*box-shadow: -18vw 0 0 18vw dodgerblue;*/
  /*border: 5px solid #7e98e5; */
  /*border-radius: 50%;*/
  -webkit-appearance: none;
  border: 6px solid #7e98e5;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}

/*::-moz-range-track {*/
/*  height: 40px;*/
/*  background: #ddd;*/
/*}*/

input[type="range"]::-moz-range-thumb {
  /*background: #fff;*/
  /*height: 40px;*/
  /*width: 20px;*/
  /*border: 3px solid #999;*/
  /*border-radius: 0 !important;*/
  /*box-shadow: -100vw 0 0 100vw dodgerblue;*/
  /*box-sizing: border-box;*/
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 100px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


